body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9ECF1;
}
::-webkit-scrollbar {
    width: 0px;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(22,65,100,1) 0%, rgba(17,56,92,1) 100%);
    padding-top: 30px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 400;
    display: block;
}

.sidebar a:hover {
    background-color: #FFA817;
    border-radius: 20px;
    color: black;
}

.sidebar img {
    width: 70%;
}

.sidebar h1 {
    color: #E9ECF1;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 20px;
}

.content {
    width: screen;
    height: screen;
    margin-left: 340px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding-right: 50px;
}

.nav-bar img {
    width: 2%;
    height: 30%;
}

.container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.container-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(20% - 20px);
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    padding-bottom: 40px;
    margin-right: 50px;
    border-radius: 20px;
}

.active {
    background: linear-gradient(90deg, rgba(22,65,100,1) 0%, rgba(17,56,92,1) 100%) !important;
    color: #E9ECF1;
}

.card h1 {
    font-size: 3rem;
}

.chart-card {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
}

.m-r {
    margin-right: 4%;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}